@import "./header.css";

.contentContainer {
    display: flex;
    margin: 5px;
    background-color: steelblue;
    border: black 2px solid;
}

.containerLeft {
    padding: 5px;
    margin: 5px;
    flex: 75%;
    background-color: steelblue;
}

.containerRight {
    padding: 5px;
    flex: 25%;
    background-color: red;
    height: auto;    
}

.fishCard {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 25px;
    /* flex: 25%; */
    background-color: white;
    padding: 10px;
    margin: 0px 20px 20px 0px;
    width: auto;
    flex-wrap: wrap;
    border: 2px solid black;
    
    /* max-width: auto;
    justify-content: flex-start; */
}

.containerLeft__fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}

.sectionHead {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}


.fishCard > img {
    max-width: 300px;
    border-radius: 25px;
    border: 2px solid black
}

.quoteCard {
    text-align: left;
    background-color: slategray;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black
}

.locationCard {
    text-align: left;
    background-color: sienna;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black
}

.locationCard > img {
    max-width: 300px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 25px;
}

.containerRight > ul {
    border: black 2px solid;
    background-color: white;
    border-radius: 25px;
    height: auto;
    /* margin: 13px; */
}

.containerRight > ul > li {
    padding: 5px
}